.text{
    color: white;
    font-size: 60px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 10px black;
    text-align: center;
    font-weight: bold;
    
  }
  .text1{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 10px black;
    text-align: center;
    
  }
  